/*<meta />*/
/* This header may be removed before distributing to customers. 

FILE:         xHP_IE_Snowball.css
DESCRIPTION:  Cascading Style Sheet for HP software products
MODIFIED:     August 4, 2013
LEVEL         CSS Level 2 (plus support for Madcap Flare Webhelp)
VERSION:      2.50 (for fileset 1.91)

*/

@import url('xHP_IE.css');


/* table lines and borders */

table
{
	name: Rows;
	background-color: transparent;
	border-collapse: collapse;
	border-style: solid;
	border-width: 1px;
	border-color: #e5e5e5;
	color: #404040;
}

table.no_lines, table.no_lines td, table.no_lines th
{      
            background-color: transparent;
            background-image: none;
}

/* table header gradient from background image */

th
{
	background-color: #e5e5e5;
	background-image: url('xHP_Snow_Tblheader.png');
	background-repeat: repeat-x;
	border-bottom: thin solid #e5e5e5;
	border-top: .1em solid #e5e5e5;
	color: #404040;
	separator-style: solid;
	separator-width: 2px;
	separator-color: #e5e5e5;
	vertical-align: top;
}

td
{
	background-color: transparent;
	border-collapse: collapse;
	border-top-style: solid;
	border-top-color: #e5e5e5;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-color: #e5e5e5;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #e5e5e5;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
}

/* popup and dropdown icon for snowball */

a.Popup
{
	background-image: url('xHP_Snow_DropDownClosed.png');
}

MadCap|dropDown
{
	mc-closed-image: url('./xHP_Snow_DropDownClosed.png');
	mc-open-image: url('./xHP_Snow_DropDownOpen.png');
}

MadCap|popupHead
{
	background-image: url('./xHP_Snow_DropDownClosed.png');
}

span.MCPopup > a:link
{
	background-image: url('./xHP_Snow_DropDownClosed.png');
}


/* Headings */

h1
{
	color: #333333;
}

h2
{
	color: #333333;
}


/* copyright 2012-2013 Hewlett-Packard Development Company, L.P. */
