i/*<meta />*/

/* This header may be removed before distributing to customers. 

FILE:         xHP_IE.css
DESCRIPTION:  Cascading Style Sheet for HP software products
MODIFIED:     March 13, 2014
LEVEL         CSS Level 2 (plus support for Madcap Flare Webhelp)
VERSION:      4.50 (for fileset 2.0x)
 	
	

*/

/* Paragraphs */

body
{
	font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
	font-size: 0.8em;
	line-height: normal;
	margin-bottom: 1.1em;
	mc-hyphenate: never;
	color: #000000;
}

p
{
	margin-top: 0em;
	margin-bottom: 1.1em;
 
}

p.avoidPageBreak
{
	page-break-inside: avoid;
}

p.keepWithNext
{
	page-break-after: avoid;
}

p.hanging_indent
{
	text-indent: -25px;
	padding-left: 25px;
}

  p.intro_phrase /* QCCR1K4343 */
{
	 
	font-weight: bold;
	padding-top: 1.0em;
	font-size: 1.1em;
	page-break-after: avoid;
}


/* Links */

a
{
	color: #3A83E6;
	text-decoration: none;
}

a:link
{
	color: #3A83E6;
}

span.MCPopup > a:link
{
	color: #3A83E6;
	text-decoration: none;
	content: "\0000a0";
	padding-right: 18px;
	display: inline;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('./xHP_DropDownClosed.gif');
}

a:visited
{
	color: #800080;
}

a:hover
{
	text-decoration: underline;
}

span.MCPopup > a:hover
{
	text-decoration: underline;
}

a.avoidPrint
{
	
}

a.MiniTOC1:link,
a.MiniTOC2:link,
a.MiniTOC3:link,
a.MiniTOC4:link,
a.MiniTOC5:link,
a.MiniTOC6:link,
a.MiniTOC7:link,
a.MiniTOC8:link
{
	font-weight: normal;
	color: #3A83E6;
	text-decoration: none;
}

a.MiniTOC1:visited,
a.MiniTOC2:visited,
a.MiniTOC3:visited,
a.MiniTOC4:visited,
a.MiniTOC5:visited,
a.MiniTOC6:visited,
a.MiniTOC7:visited,
a.MiniTOC8:visited
{
	color: #800080;
	text-decoration: none;
	font-weight: normal;
}

a.MiniTOC1:hover,
a.MiniTOC2:hover,
a.MiniTOC3:hover,
a.MiniTOC4:hover,
a.MiniTOC5:hover,
a.MiniTOC6:hover,
a.MiniTOC7:hover,
a.MiniTOC8:hover
{
	text-decoration: underline;
}

a.pop
{
	color: #3A83E6;
}

a.pop:visited
{
	color: #800080;
}

a.pop:hover
{
	text-decoration: underline;
}

a.Popup
{
	text-decoration: none;
	content: "\0000a0";
	padding-right: 18px;
	background-repeat: no-repeat;
	background-position: right center;
	background-image: url('./xHP_DropDownClosed.gif');
	display: inline;
}

a.Popup:hover
{
	text-decoration: underline;
}

/* Miscellaneous Styles */

abbr
{
	font-variant: normal;
}

acronym
{
	font-variant: normal;
}

address
{
	font-style: inherit;
}

blockquote
{
	margin: 0;
}

/* Headings */

h1
{
	color: #003366;
	font-weight: bold;
	font-size: 150%;
	line-height: normal;
}

h1.appendix
{
	mc-disabled: true;
}

h1.chapternum
{
	mc-disabled: true;
}

h1.partnum
{
	mc-disabled: true;
}

h2
{
	color: #003366;
	font-weight: bold;
	font-size: 130%;
	line-height: normal;
}

h2.appendix
{
	mc-disabled: true;
}

h2.chapternum
{
	mc-disabled: true;
}

h3
{
	mc-disabled: true;
}

h4
{
	mc-disabled: true;
}

h5
{
	mc-disabled: true;
}

h6
{
	mc-disabled: true;
}

/* Rules */

hr
{
	color: #999999;
	height: 0.05em;
	width: 100%;
}

/* Images */

img
{
	border: none;
}

img.floatLeft
{
	border: none;
	display: inline;
	float: left;
	margin-top: 5px;
	margin-bottom: 2px;
	margin-right: 10px;
}

img.floatRight
{
	border: none;
	display: inline;
	float: right;
	margin-top: 5px;
	margin-bottom: 2px;
}

img.z_migration_tba_PDF/*Deprecated */
{
	max-width: 100%;
}

/* Definition list tags, used in API docs */

dl
{
	margin: 0;
}

dt
{
	margin-top: 0.8em;
}

dd
{
	margin-left: 20px;
}

/* Lists */

ol
{
	margin-left: 20px;
	margin-top: 1.1em;
	padding: 0px;
	padding-left: 0.2em
}

ul
{
	margin-left: 8px;
	margin-top: 1.1em;
	padding: 0px;
	padding-left: 0.2em
}

ol li
{
	list-style-type: decimal;
	margin-left: 8px;
	margin-bottom: 1.1em;
}

ul li
{
	list-style-type: disc;
	margin-left: 8px;
	margin-bottom: 1.1em;
}

ol li p,
ul li p
{
	margin-left: 0pt;
	margin-bottom: 1.1em;
}

ul ul li p,
ul ol li p,
ol ul li p,
ol ol li p
{
	margin-left: 0pt;
	margin-bottom: 1.1em;
}

ol ol ul ol li

ul ul ul li p,
ul ol ol li p,
ul ul ol li p,
ul ol ul li p,
ol ul ul li p,
ol ol ol li p,
ol ul ol li p,
ol ol ul li p
{
	margin-left: 0pt;
	margin-bottom: 1.1em;
}

ol ul li,
ul ul li
{
	list-style-type: disc;
	margin-left: 6px;
	margin-bottom: 1.1em;
}

ol ol li,
ul ol li
{
	list-style-type: lower-alpha;
	margin-left: 4px;
	margin-bottom: 1.1em;
}

ol ol ol li,
ol ul ol li,
ul ol ol li,
ul ul ol li
{
	list-style-type: lower-roman;
	margin-left: 8px;
}



ol ol ol ol li,
ol ol ul ol li,
ol ul ol ol li,
ul ol ol ol li,
ol ul ul ol li,
ul ul ol ol li,
ul ol ul ol li,
ul ul ul ol li	
{
	list-style-type: upper-alpha;
	margin-left: 8px;
}


ul ul ul ul	li,
ul ul ol ul	li,
ul ol ul ul	li,
ol ul ul ul	li,
ul ol ol ul	li,
ol ol ul ul	li,
ol ul ol ul	li,
ol ol ol ul	li	
{
	list-style-type: disc;
	margin-left: 8px;
}




ol ul ul li,
ol ol ul li,
ul ul ul li,
ul ol ul li
{
	list-style-type: disc;
	margin-left: 8px;
}

menu
{
	margin: 0;
}

/* Paragraph Classes */

p.Index1,
p.Index2,
p.Index3,
p.Index4
{
	margin-bottom: 0em;
	margin-top: 0em;
	white-space: normal;
}

/* Admonitons */
/* indicates deprecation of methods in APIs and command line tools */

div.Admonition_Deprecated
{
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 5px;
	padding-top: 11px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 0px;
	background-color: #e4e5e6;
	border: 1px;
	border-style: solid;
	border-color: #e4e5e6;
}

div.Admonition_Deprecated > p:first-child
{
	mc-auto-number-format: '{b}Deprecated: {/b}';
	/* Localizable */
}

div.Admonition_Note,
div.Admonition_Caution,
div.Admonition_Tip
{
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 5px;
	padding-top: 11px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 0px;
	background-color: #e4e5e6;
	border: 1px;
	border-style: solid;
	border-color: #e4e5e6;
}

div.Admonition_Note > p:first-child
{
	mc-auto-number-format: '{b}Note: {/b}';
	/* Localizable */
}

div.Admonition_Caution > p:first-child
{
	mc-auto-number-format: '{b}Caution: {/b}';
	/* Localizable */
}

div.Admonition_Tip > p:first-child
{
	mc-auto-number-format: '{b}Tip: {/b}';
	/* Localizable */
}

div.avoidPageBreak
{
	page-break-inside: avoid;
}

div.keepWithNext
{
	page-break-after: avoid;
}

/* Table styles */

table
{
	color: #000000;
	background-color: transparent;
	border: solid 1pt #cccccc;
	border-collapse: collapse;
	caption-side: top;
	font-size: 100%;
	line-height: normal;
	margin-bottom: 1.1em;
	mc-caption-continuation: ', continued';
	/* Localizable */
	mc-caption-repeat: true;
	text-align: left;
}

table.no_lines,
table.no_lines td,
table.no_lines th
{
	border: none;
	border-collapse: collapse;
	background-color: transparent;
	color: #000000;
}

caption
{
	color: #000000;
	text-align: left;
	font-weight: bold;
}

th
{
	background-color: #003366;
	border-bottom: solid 1px #003366;
	border-right-style: solid;
	border-right-color: #003366;
	border-right-width: 1px;
	border-top: .1em solid #003366;
	color: #FFFFFF;
	font-weight: bold;
	padding: 0.5em;
	vertical-align: bottom;
	text-align: left;
}

th.center
{
	text-align: center;
}

tr
{
	page-break-inside: avoid;
}

tr.allowBreak
{
	page-break-inside: auto;
}

td
{
	background-color: transparent;
	border-top-style: solid;
	border-top-color: #cccccc;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-color: #cccccc;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-color: #cccccc;
	border-bottom-width: 1px;
	border-spacing: 0px 0px;
	color: #000000;
	padding: 0.5em;
	vertical-align: top;
	text-align: left;
}

td.center
{
	text-align: center;
}

th.null
{
	border: none;
	color: #000000;
}

td.null
{
	border: none;
	border-collapse: collapse;
}

/* Paragraph Tag for Code */

pre
{
	color: #333333;
	font-family: 'Consolas', 'Courier New';
	font-size: 95%;
	line-height: 1.25em;
}

pre.hanging_indent
{
	text-indent: -25px;
	padding-left: 25px;
}

/* Character Tag for Code  */

code
{
	color: #333333;
	font-family: 'Consolas', 'Courier New';
	font-size: 100%;
}

/* backgrounds for examples */

div.example
{
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 5px;
	overflow: auto;
	overflow-Y: hidden;
	padding-top: 11px;
	padding-left: 9px;
	padding-right: 9px;
	padding-bottom: 0px;
	background-color: #e4e5e6;
	border: 1px;
	border-style: solid;
	border-color: #e4e5e6;
}

/* MadCap Flare Styles */

MadCap|breadcrumbsProxy
{
	margin-bottom: 4px;
	padding-bottom: 4px;
	color: #3A83E6;
	mc-breadcrumbs-count: 5;
	mc-breadcrumbs-prefix: ' ';
	mc-label: '';
	border-bottom: 1px solid #999999;
}

MadCap|breadcrumbsProxy:visited
{
	color: #000000;
}

span.MCBreadcrumbsDivider,
span.MCBreadcrumbs
{
	color: #000000;
}

MadCap|conceptLink
{
	color: #3A83E6;
	text-decoration: none;
}

MadCap|conceptLink:link
{
	color: #3A83E6;
}

MadCap|conceptLink:visited
{
	color: #3A83E6;
}

MadCap|conceptLink:hover
{
	text-decoration: underline;
	mc-format: '{quote}{para}{quote}';
	/* Localizable */
}

MadCap|conceptLink.ListFormatHeader
{
	color: #000000;
	mc-help-control-display: list;
	mc-image: none;
	mc-label: 'See Also';
	/* Localizable */
	font-weight: bold;
}

MadCap|conceptLinkControlListItemLink,
MadCap|keywordLinkControlListItemLink,
MadCap|relatedTopicsControlListItemLink
{
	font-weight: normal;
}

MadCap|conceptLinkControlListItemLink:hover
{
	text-decoration: underline;
}

MadCap|dropDown
{
	margin-bottom: 1.1em;
}

MadCap|dropDownHead
{
	margin-bottom: 0.5em;
	page-break-after: avoid;
}

MadCap|dropDownHead.boldPrint
{
	margin-bottom: 0.5em;
	page-break-after: avoid;
}

MadCap|dropDownBody
{
	margin-left: 1.2em; 
	margin-top: 0.7em;
}

MadCap|dropDownHotspot:hover,
MadCap|dropDownHead.boldPrint:hover
{
	text-decoration: underline;
}

MadCap|expanding
{
	mc-image-position: right;
}

MadCap|expandingHead:hover
{
	text-decoration: underline;
}

MadCap|glossaryTerm
{
	color: #3A83E6;
	font-weight: bold;
	mc-image-position: right;
	text-decoration: none;
	mc-closed-image: url('./xHP_Glossary.png');
	mc-open-image: url('./xHP_Glossary.png');
}

MadCap|glossaryTerm:hover
{
	text-decoration: underline;
}

MadCap|glossaryTerm.Expanding
{
	color: #3A83E6;
	font-weight: normal;
}

MadCap|glossaryTerm.Expanding:hover
{
	text-decoration: underline;
}

MadCap|glossaryTerm.Hyperlink
{
	color: #3A83E6;
}

MadCap|glossaryTerm.Hyperlink:hover
{
	text-decoration: underline;
}

MadCap|glossaryTerm.Popup
{
	color: #3A83E6;
}

MadCap|glossaryTerm.Popup:hover
{
	text-decoration: underline;
}

MadCap|helpControlMenu
{
	background-color: #ffffff;
	border-bottom-color: #ffffff;
	border-color: #ffffff;
}

MadCap|helpControlMenuItem
{
	background-color: #ffffff;
	background-position: right;
	border: 1px solid #999999;
	padding: 2px 2px 2px 2px;
	color: #3A83E6;
	border-color: #ffffff;
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #ffffff;
	border-bottom-color: #ffffff;
	border-top-color: #ffffff;
	color: #3A83E6;
	text-decoration: underline;
}

MadCap|indexProxy
{
	border-top-style: none;
	border-top-width: 0px;
}

MadCap|keywordLink:link
{
	color: #3A83E6;
}

MadCap|keywordLink:visited
{
	color: #3A83E6;
}

MadCap|keywordLink:hover
{
	text-decoration: underline;
}

MadCap|keywordLink.ListFormatHeader
{
	color: #000000;
	mc-help-control-display: list;
	mc-image: none;
	font-weight: bold;
}

MadCap|keywordLinkControlListItemLink:hover
{
	text-decoration: underline;
}

MadCap|miniTocProxy
{
	margin-top: -1.7em;
	border-top: solid 0px #ffffff;
}

MadCap|popup:link
{
	color: #3A83E6;
	text-decoration: underline;
}

MadCap|popup:visited
{
	color: #800080;
}

MadCap|popup:hover
{
	text-decoration: underline;
}

MadCap|popupBody
{
	clear: both;
	float: right;
	height: auto;
	border-color: #999999;
	text-indent: 0;
}

MadCap|popupHead
{
	color: #3A83E6;
	text-decoration: none;
	content: "\0000a0";
	padding-right: 18px;
	display: inline;
	background-position: right center;
	background-repeat: no-repeat;
	background-image: url('./xHP_DropDownClosed.gif');
}

MadCap|popupHead:hover
{
	text-decoration: underline;
}

MadCap|relatedTopics
{
	color: #3A83E6;
	mc-label: 'Related Information';
	/* Localizable */
	mc-use-custom-sort-order: true;
	text-decoration: none;
}

MadCap|relatedTopics:hover
{
	text-decoration: underline;
}

MadCap|relatedTopics.ListFormatHeader
{
	color: #000000;
	font-weight: bold;
	mc-help-control-display: list;
	mc-image: none;
	mc-label: 'Related Topics';
	/* Localizable */
}

MadCap|relationshipsProxy
{
	font-size: 1.0em;
}

MadCap|relationshipsHeading
{
	font-size: 1.0em;
	margin-bottom: 0.3em;
	margin-top: 1.0em;
}

MadCap|relationshipsHeading.concept
{
	font-size: 1.0em;
	mc-label: 'Related Information';
	/* Localizable */
}

MadCap|relationshipsHeading.reference
{
	font-size: 1.0em;
	mc-label: 'Reference Materials';
	/* Localizable */
}

MadCap|relationshipsHeading.task
{
	font-size: 1.0em;
	mc-label: 'Related Tasks';
	/* Localizable */
}

MadCap|relationshipsItem
{
	font-size: 1.0em;
	margin-bottom: 0em;
	margin-left: 1.2em;
	display: list-item;
	list-style-type: disc;
}

MadCap|tocProxy
{
	mc-output-support: pdf;
}

MadCap|toggler
{
	mc-image-position: right;
	mc-open-image: url('xHP_checked.png');     /* QCCR1K4320 */
	mc-closed-image: url('xHP_unchecked.png'); /* QCCR1K4320 */
}

MadCap|toggler:link
{
	color: #3A83E6;
}

MadCap|toggler:visited
{
	color: #800080;
}

MadCap|toggler:hover
{
	text-decoration: underline;
}

MadCap|xref
{
	color: #3A83E6;
	text-decoration: none;
	mc-format: '{para}';
}

MadCap|xref:link
{
	color: #3A83E6;
	text-decoration: none;
}

MadCap|xref:visited
{
	color: #800080;
}

MadCap|xref:hover
{
	text-decoration: underline;
}

MadCap|xref.noNum
{
	color: #3A83E6;
	mc-format: '{para}';
}

MadCap|xref.noNum:visited
{
	color: #800080;
	mc-format: '{para}';
}

MadCap|xref.pageNumOnly
{
	mc-format: '{page}';
}

span.noGlossary
{
	mc-disable-glossary-terms: true;
}


.hyphenate /*QCCR1K4316*/
{
	mc-hyphenate: always;
}

/* using for Flare workaround to include banner files in output files */
/* when Target,Advanced tab, Exclude content not linked directly or indirectly from the target is set */

ins
{
	background-image: url("../MasterPages/xHP_logo.png");
	background-image: url("../MasterPages/xHP_logo_snowball.png");
	background-image: url("../MasterPages/xHPb_banner_graphic.png");
}

/* for bi-directional text */

/*
dir
{
	margin: 0;
	display: none;
}
*/

/* hides character styles in the XML editor */

abbr,
acronym,
big,
cite,
em,
ins,
samp,
small,
strong,
tt,
u,
var
{
	mc-disabled: true;
}

/* START for iDoc */

html.idocTopic
{
	mc-disabled: true;
	mc-master-page: url('../xHP_iDoc_Resources/xHP_iDoc-inTopic_MasterPage.flmsp');
}

html.idocTopic_breadcrumbs
{
	mc-disabled: true;
	mc-master-page: url('../xHP_iDoc_Resources/xHP_iDoc-inTopic_breadcrumbs_MasterPage.flmsp');
}

div.iDoc_imagezoom,
div#iDoc_optionblock,
div.iDoc_optiongroupdesc,
div.iDoc_options,
div#iDoc_stepblock,
div.iDoc_step,
div.iDoc_stepbody,
div.iDoc_textblock,
div.iDoc_optiongroup,
div.iDoc_textblockbody
{
	mc-disabled: true;
}

/* END for iDoc */
/* old dropdown head style to be deprecated */

MadCap|dropDownHead.z_migration_tba_PDF
{
	margin-bottom: 0.5em;
}

/* end of deprecated section */
/* Print Output */

@media print
{
	/* Paragraphs */
	
	


	body
	{
		color: #000000;
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		font-size: 10pt;
		line-height: normal;
		margin-bottom: 12pt;
		mc-hyphenate: never;
		/*padding-left: 16pt; QCCR1K4260 */
	 
	}

	p
	{
		orphans: 2;
		widows: 2;
	}

	p.MiniTOC1
	{
		color: #000000;
		font-weight: normal;
	}

	p.MiniTOC2
	{
		color: #000000;
	}

	p.MiniTOC3
	{
		color: #000000;
	}

	p.MiniTOC4
	{
		color: #000000;
	}

	p.MiniTOC5
	{
		color: #000000;
	}

	p.MiniTOC6
	{
		color: #000000;
	}

	p.MiniTOC7
	{
		color: #000000;
	}

	p.MiniTOC8
	{
		color: #000000;
	}

	p.MiniTOC9
	{
		color: #000000;
	}

	p.pdf
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
	}

	p.PDFheader
	{
		padding-left: -16pt;
		margin-top: 6pt;
		margin-bottom: 6pt;
	}
	
	 p.intro_phrase /* QCCR1K4343 */
{ 
font-weight: bold;

}


	/* Links */

	a
	{
		color: #007dba;
	}

	a:link
	{
		text-decoration: none;
		color: #007dba;
	}

	a.avoidPrint
	{
		display: none;
	}

	a.pop
	{
		color: #000000;
		text-decoration: none;
	}

	a.Popup
	{
		text-decoration: none;
	}

	/* Headings */

	h1
	{
		color: #007dba;
		font-family: 'HP Simplified Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4260 */
		font-weight: bold;
		font-size: 2.2em;
		line-height: normal;
	/*	margin-left: -14pt; QCCR1K4260 */
		page-break-after: avoid;
		margin-top: 2em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}


		
	h1.appendix
	{
		mc-auto-number-format: 'Appendix {chapnum}: ';
		/* Localizable */
		page-break-after: avoid;
	}

	h1.chapternum
	{
		mc-auto-number-format: 'Chapter {chapnum}: ';
		/* Localizable */
		page-break-after: avoid;
	}

	h1.partnum
	{
	/*	margin-left: -14pt;QCCR1K4260 */
		mc-auto-number-format: 'Part {volnum}: ';
		/* Localizable */
		page-break-after: avoid;
		padding-left: 0pt;
	}

	h2
	{
		color: #000000;
		font-family: 'HP Simplified Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4260 */
		font-weight: bold; 
		font-size: 200%;
		page-break-after: avoid;
		margin-top: 2em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	/*	padding-left: -14pt; QCCR1K4260 */
	}

	h2.appendix
	{
		color: #007dba;
	/*	margin-left: -14pt; QCCR1K4260 */
		mc-auto-number-format: 'Appendix {chapnum}: ';
		/* Localizable */
		page-break-after: avoid;
		padding-left: 0pt;
	}

	h2.chapternum
	{
		color: #007dba;
		/*	margin-left: -14pt; QCCR1K4260 */
		mc-auto-number-format: 'Chapter {chapnum}: ';
		/* Localizable */
		page-break-after: avoid;
		padding-left: 0pt;
	}

	h3
	{
		color: #000000;
		font-family: 'HP Simplified Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4260 */
		/*font-weight: bold; QCCR1K4260 */
		font-size: 1.80em;
		page-break-after: avoid;
		/*	margin-left: -14pt; QCCR1K4260 */
				margin-top: 2em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	h4
	{
		color: #000000;
		font-family: 'HP Simplified Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4285   QCCR1K4260*/
		font-size: 1.60em;
		/* font-style: italic; removed for QCCR1K4260 */
		page-break-after: avoid;
		/*	margin-left: -14pt; QCCR1K4260 */
	}

	h5
	{
		color: #000000;
		font-family: 'HP Simplified  Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4285   QCCR1K4260*/
		font-size: 1.4em;
		/* font-style: italic; removed for QCCR1K4260 */
		page-break-after: avoid;
		/*	margin-left: -14pt; QCCR1K4260 */
	}

	h6
	{
		color: #000000;
		font-family: 'HP Simplified  Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4285   QCCR1K4260*/
		font-size: 1.2em;
		/* font-style: italic; removed for QCCR1K4260 */
		line-height: normal;
		page-break-after: avoid;
		/*	margin-left: -14pt; QCCR1K4260 */
	}

	h1.noTOC,
	h2.noTOC,
	h3.noTOC,
	h4.noTOC,
	h5.noTOC,
	h6.noTOC
	{
		mc-heading-level: 0;
	}

	/* Rules */

	hr
	{
		color: #000000;
		height: 0.03em;
	}

	hr.pdfTitle
	{
		background-color: #007dba;
		height: 9pt;
		width: 504pt;
	}

	/* Images */

	img
	{
		orphans: 2;
		widows: 2;
		float: none;
		page-break-inside: auto;
		/* max-width: 100%;   removing due to MadCap defect 88519*/
	}
	
	
 

	/* Lists */

	li.pdf
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
		list-style-type: disc;
		margin-left: 10pt;
		mc-hyphenate: inherit; /*QCCR1K4316*/
	}

	ol
	{
		margin-bottom: 12pt;
		margin-top: 12pt;
	}

	ul
	{
		margin-bottom: 12pt;
		margin-top: 12pt;
	}

	ol li p,
	ul li p
	{
		margin-left: 0pt;
		margin-bottom: 12pt;
	}

	ul ul li p,
	ul ol li p,
	ol ul li p,
	ol ol li p
	{
		margin-left: 0pt;
		margin-bottom: 12pt;
	}

	ul ul ul li p,
	ul ol ol li p,
	ul ul ol li p,
	ul ol ul li p,
	ol ul ul li p,
	ol ol ol li p,
	ol ul ol li p,
	ol ol ul li p
	{
		margin-left: 0pt;
		margin-bottom: 12pt;
	}

	ol li
	{
		list-style-type: decimal;
		margin-bottom: 12pt;
		margin-left: 5pt;
	}

	ul li
	{
		list-style-type: disc;
		margin-bottom: 12pt;
		margin-left: 8pt;
	}

	ul ol li,
	ol ol li
	{
		list-style-type: lower-alpha;
		margin-bottom: 12pt;
		margin-left: 2pt;
	}

	ul ul li,
	ol ul li
	{
		list-style-type: square;
		margin-bottom: 12pt;
		margin-left: 6pt;
	}

	ol ol ol li,
	ol ul ol li,
	ul ol ol li,
	ul ul ol li
	{
		list-style-type: lower-roman;
		margin-bottom: 12pt;
		margin-left: 8pt;
	}

	ul ul ul li,
	ul ol ul li,
	ol ul ul li,
	ol ol ul li
	{
		list-style-type: circle;
		margin-bottom: 12pt;
		margin-left: 8pt;
	}

	/* Admonitons */

	div.Admonition_Note,
	div.Admonition_Caution,
	div.Admonition_Tip,
	div.Admonition_Deprecated
	{
		background-color: #E5E8E8;
		border-color: #E5E8E8;
		color: #000000;
		padding-bottom: 10px;
		padding-right: 10px;
	}

	/* backgrounds for examples */

	div.example
	{
		background-color: #E5E8E8;
		border-color: #E5E8E8;
	}

	/* Table styles */

	table
	{
		border-collapse: collapse;
		border: solid 1px #cccccc;
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		margin-bottom: 1.1em;
		background-color: transparent;
		mc-hyphenate: inherit;  /*QCCR1K4316*/
	}

	td
	{
		border-right: solid 1px #cccccc;
		border-top: solid 1px #cccccc;
		border-bottom: solid 1px #cccccc;
		background-color: transparent;
		color: #000000;
		mc-hyphenate: inherit; /*QCCR1K4316*/
	}

	td.null
	{
		border: none;
		border-collapse: collapse;
		background-color: transparent;
	}

	th
	{
		border-bottom: solid 1px #cccccc;
		border-right: solid 1px #cccccc;
		border-top: none;
		color: #000000;
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		font-size: 100%;
		background-color: #E5E8E8;
	}

	table.no_lines,
	table.no_lines td
	{
		color: #000000;
	}

	table.no_lines th
	{
		color: #000000;
	}

	caption
	{
		font-size: 100%;
	}

	/* MadCap Flare Styles */

	MadCap|footnotesBlock
	{
		border: none;
	}

	a.MCDropDownHotSpot_0:link
	{
		color: #000000;
	}

	MadCap|dropDownHead.boldPrint
	{
		font-size: 120%;
		font-family: 'HP Simplified Light', Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;  /*QCCR1K4260 */
		/*font-weight: bold; QCCR1K4260 */
		margin-top: 2em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}
	
	MadCap|dropDownBody
{
	margin-left: 0em; 

}

	MadCap|xref
	{
		mc-format: '{quote}{para}{quote} {pageref}';
		/* Localizable */
	}

	MadCap|xref
	{
		color: #007dba;
	}

	MadCap|xref.noNum
	{
		color: #007dba;
		mc-format: '{quote}{para}{quote}';
		/* Localizable */
	}

	MadCap|popup
	{
		color: #000000;
	}

	MadCap|popupHead
	{
		color: #000000;
		text-decoration: none;
	}

	MadCap|toggler
	{
		color: #000000;
	}

	/* Modifications to MadCap Flare styles to show drop-down text  */

	div.MCDropDownBody,
	div.MCDropDownBody_0
	{
		display: block !important;
	}

	img.MCDropDownIcon,
	img.MCDropDownBody_0
	{
		display: none !important;
	}

	/* TOC */

	MadCap|tocProxy
	{
		border-top-style: none;
	}

	p.toc1
	{
		color: #000000;
		font-weight: normal;
		font-size: 12pt;
		line-height: normal;
		margin-left: 0in;
		orphans: 2;
		widows: 2;
		margin-top: 2em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	p.toc2
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
		orphans: 2;
		widows: 2;
		margin-left: 0.2in;
		margin-top: 1em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	p.toc3
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
		orphans: 2;
		widows: 2;
		margin-left: 0.40in;
		margin-top: .5em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	p.toc4
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
		orphans: 2;
		widows: 2;
		margin-left: 0.6in;
		margin-top: .5em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	p.toc5
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
		orphans: 2;
		widows: 2;
		margin-left: 0.8in;
				margin-top: .5em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	p.toc6
	{
		color: #000000;
		font-weight: normal;
		font-size: 10pt;
		line-height: normal;
		margin-left: 1.0in;
		orphans: 2;
		widows: 2;
				margin-top: .5em; /*QCCR1K4260 */
		margin-bottom: .5em; /*QCCR1K4260 */
	}

	/* Glossary and  Index Page Styles */

	MadCap|indexProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	p.IndexHeading
	{
		border: none;
		color: #007dba;
		text-align: left;
	}

	MadCap|glossaryProxy
	{
		border-top-style: none;
		border-top-width: 0px;
	}

	MadCap|glossaryTerm
	{
		color: #000000;
	}

	MadCap|glossaryTerm.Popup
	{
		color: #000000;
	}

	div.GlossaryPageHeading
	{
		border: none;
 		color: #007dba; 
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		line-height: normal;
		margin-bottom: 1.1em;
		mc-hyphenate: never;
	}

	div.GlossaryPageDefinition
	{
		color: #000000;
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		font-size: 10pt;
		font-weight: normal;
		line-height: normal;
		margin-bottom: 1.1em;
		margin-left: 10pt;
		mc-hyphenate: never;
	}

	div.GlossaryPageEntry
	{
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		line-height: normal;
		margin-bottom: 1.1em;
		mc-hyphenate: never;
		color: #000000;
	}

	div.GlossaryPageTerm
	{
        color: #000000;
		font-family: Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
		font-size: 10pt;
		font-weight: bold;
		line-height: normal;
		margin-bottom: 0em;
		mc-hyphenate: never;
	}

	/* old dropdown head style to be deprecated */

	MadCap|dropDownHead.z_migration_tba_PDF
	{
		font-size: 120%;
		font-weight: bold;
		margin-bottom: 0.5em;
		page-break-after: avoid;
	}

	/* end of deprecated section */
}

@media iDoc
{
	html.idocTopic,
	html.idocTopic_breadcrumbs,
	div.iDoc_imagezoom,
	div#iDoc_optionblock,
	div.iDoc_optiongroupdesc,
	div.iDoc_options,
	div#iDoc_stepblock,
	div.iDoc_step,
	div.iDoc_stepbody,
	div.iDoc_textblock,
	div.iDoc_optiongroup,
	div.iDoc_textblockbody
	{
		mc-disabled: false;
	}

	div.iDoc_optiongroup,
	div.iDoc_step
	{
		mc-next-tag: h2;
	}

	div.iDoc_step h2,
	div.iDoc_options
	{
		mc-next-tag: p;
	}

	div.iDoc_optiongroup h2
	{
		mc-next-tag: div;
	}

	div.iDoc_optiongroup
	{
		border-top: 1px solid #aaaaaa;
		border-bottom: 1px solid #aaaaaa;
		padding: 4px;
	}

	div.iDoc_options div
	{
		padding-left: 10px;
		margin-bottom: 1em;
		font-style: italic;
	}
}

@media PartChapNum
{
	h1.appendix
	{
		mc-disabled: false;
	}

	h1.chapternum
	{
		mc-disabled: false;
	}

	h1.partnum
	{
		mc-disabled: false;
	}
}

/* copyright 2007-2014 Hewlett-Packard Development Company, L.P. */