.eggs
.tox/
documentation.egg-info/
keystone.egg-info/
source/admin/horizon
source/admin/keystone
source/admin/barbican
source/admin/ceilometer
source/admin/cinder
source/admin/designate
source/admin/glance
source/admin/heat
source/admin/ironic
source/admin/magnum
source/admin/manila
source/admin/murano
source/admin/neutron
source/admin/nova
source/admin/octavia
source/admin/sahara
source/admin/swift
source/user/horizon
source/user/keystone
source/user/barbican
source/user/ceilometer
source/user/cinder
source/user/designate
source/user/glance
source/user/heat
source/user/ironic
source/user/magnum
source/user/manila
source/user/murano
source/user/neutron
source/user/nova
source/user/octavia
source/user/sahara
source/user/swift
