/*<meta />*/

/* This header may be removed before distributing to customers. 

FILE:         xHP_iDoc.css
DESCRIPTION:  Cascading Style Sheet HP Software iDoc-style documents
MODIFIED:     March 13, 2014
LEVEL         CSS Level 2 (plus support for Madcap Flare Webhelp)
VERSION:      2.60 (for fileset 2:00)

*/

@import url('xHP_IE_Experience.css');

a.avoidPrint
{
	color: #404040 !important;
}

html.idocTopic,
html.idocTopic_breadcrumbs,
div.iDoc_imagezoom,
div#iDoc_optionblock,
div.iDoc_optiongroupdesc,
div.iDoc_options,
div#iDoc_stepblock,
div.iDoc_step,
div.iDoc_stepbody,
div.iDoc_textblock,
div.iDoc_optiongroup,
div.iDoc_textblockbody
{
	mc-disabled: false;
}

@media print
{
	h1
	{
		margin-left: 0pt;
		padding-left: -14pt;
	}
}

@media iDoc_structure_test
{
	div#iDoc_optionblock
	{
		mc-auto-number-format: 'You have set the medium of this document to idoc structure test.  Any text with a yellow background shows that the document structure for the element that contains that text is not correct. Yellow background (without text) does not indicate a structure error.
	
	';
	}

	div.iDoc_imagezoom,
	div.iDoc_textblock,
	div.idoc_textblockbody,
	div.iDoc_stepbody,
	div.iDoc_step,
	div.iDoc_optiongroupdesc,
	div.iDoc_options,
	h2,
	h1
	{
		background-color: yellow;
	}

	div.iDoc_step > div
	{
		background-color: yellow;
	}

	div.iDoc_step > p
	{
		background-color: yellow;
	}

	div.iDoc_step > ol
	{
		background-color: yellow;
	}

	div.iDoc_step > ul
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.iDoc_textblock
	{
		background-color: white;
	}

	div#iDoc_optionblock > div.iDoc_optiongroup
	{
		background-color: white;
	}

	div#iDoc_optionblock > div.Admonition_Caution
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.Admonition_Note
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.Admonition_Tip
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.example
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.AvoidPageBreak
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.iDoc_optiongroup
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.MCDropDownBody
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > div.MCDropDownBody_0
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > p
	{
		background-color: yellow;
	}

	div#iDoc_optionblock > code
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.iDoc_step
	{
		background-color: white;
	}

	div#iDoc_stepblock > p
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > code
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.Admonition_Caution
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.Admonition_Note
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.Admonition_Tip
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.example
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.AvoidPageBreak
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.iDoc_optiongroup
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.MCDropDownBody
	{
		background-color: yellow;
	}

	div#iDoc_stepblock > div.MCDropDownBody_0
	{
		background-color: yellow;
	}

	div.iDoc_textblock > h2:first-child
	{
		background-color: white;
	}

	div.iDoc_textblock > div.iDoc_textblockbody
	{
		background-color: white;
	}

	div.iDoc_optiongroup > h2:first-child
	{
		background-color: white;
	}

	div.iDoc_optiongroup > div.iDoc_options
	{
		background-color: white;
	}

	div.iDoc_optiongroup > div.iDoc_optiongroupdesc
	{
		background-color: white;
	}

	div.iDoc_step > h2:first-child
	{
		background-color: white;
	}

	div.iDoc_step > div.iDoc_stepbody
	{
		background-color: white;
	}

	div.iDoc_stepbody > div.iDoc_imagezoom
	{
		background-color: white;
	}
}

/* copyright 2011-2014 Hewlett-Packard Development Company, L.P. */

.codebox	/*code boxes*/
{
	font-size: 10pt;
color: black;
border: 2px solid gray;
padding: 10px;
background-color: #eeeeee;
border-radius: 7px;
width: 90%;

}

p.codebox2
{
	font-size: 10pt;
	padding-left: 5px;
}

