/*<meta />*/
/* This header may be removed before distributing to customers. 

FILE:         xHP_IE_Experience.css
DESCRIPTION:  Cascading Style Sheet for HP software products
MODIFIED:     March 13, 2014
LEVEL         CSS Level 2 (plus support for Madcap Flare Webhelp)
VERSION:      1.6 (for fileset 2.0x)

*/

@import url('xHP_IE.css');


@font-face
 {
 font-family: 'HPSimplifiedLocal';
 src: url('./xHP_Simplified_0.ttf');
 src: url('./xHP_Simplified_BdIt_0.ttf');
 src: url('./xHP_Simplified_It_0.ttf'); 
 src: url('./xHP_Simplified_Lt_0.ttf');
 src: url('./xHP_Simplified_LtIt_0.ttf'); 
 src: url('./xHP_Simplified_Rg_0.ttf');
 } 

 
div.GlossaryPageDefinition {padding-bottom:.5em;}
 
html.simpleFooter/*QCCR1K4344*/
{
	mc-disabled: true;
	mc-master-page: url('../MasterPages/xHP_WebHelpMasterPage.flmsp');
}
html.simpleFooterBreadCrumbs/*QCCR1K4344*/
{
	mc-disabled: true;
	mc-master-page: url('../MasterPages/xHP_WebHelpMasterPage_wBreadcrumbs.flmsp');
}

/* Paragraphs */

body
{
	color: #000000;
	font-family: 'HP Simplified', HPSimplifiedLocal, Arial, Tahoma, 'Lucida Sans Unicode', sans-serif;
	font-size: 1em;
}


b {color: #424242;}
a > b {color: inherit;}

/*needed for Flare 9 */
span.dropDownHotspot    > b {color: #007dba;}
/*span.MCDropDownHotspot  > b {color: #007dba;}
span.MCDropDownHotSpot_ > b {color: #007dba;}*/
 

/* Links */

a, a.MCXref.xref, a.MCDropDownHotspot, a.MCDropDownHotSpot_
{
	color: #007dba;
	text-decoration: none;
}

a:link, a.MCXref.xref:link, a.MCDropDownHotspot:link, a.MCDropDownHotSpot_:link
{
	color: #007dba;
	text-decoration: none;
}

a:visited, a.MCXref.xref:visited, a.MCDropDownHotspot:visited, a.MCDropDownHotSpot_:visited
{
	color: #822980;
	text-decoration: none;
}

a:hover, a.MCXref.xref:hover, a.MCDropDownHotspot:hover, a.MCDropDownHotSpot_:hover
{
 
	text-decoration: underline;
}


 
a.MiniTOC1:link,
a.MiniTOC2:link,
a.MiniTOC3:link,
a.MiniTOC4:link,
a.MiniTOC5:link,
a.MiniTOC6:link,
a.MiniTOC7:link,
a.MiniTOC8:link
{
	color: #007dba;
}

a.MiniTOC1:visited,
a.MiniTOC2:visited,
a.MiniTOC3:visited,
a.MiniTOC4:visited,
a.MiniTOC5:visited,
a.MiniTOC6:visited,
a.MiniTOC7:visited,
a.MiniTOC8:visited
{
	color: #822980;
}

/* popup and dropdown icon  */

a.pop
{
	color: #007dba;
	text-decoration: none;
}

a.pop:visited
{
	color: #822980;
}

a.MCTopicPopup
{
	background-image: url('./xHP_Experience_popup.png');
	background-position: right;
	padding-right: 14px;
}

a.MCTopicPopupHotSpot
{
	background-image: url('./xHP_Experience_popup.png');
	background-position: right;
	padding-right: 14px;
}

a.Popup 
{
	background-image: url('./xHP_Experience_popup.png');
}

/* Headings */

h1
{
	color: #333333;
}

h2
{
	color: #333333;
	padding-top: 1em /* QCCR1K4342 */

}

/* Rules */

hr
{
	color: #E5E8E8;  /*QCCR1K4340*/
}

/* Admonitons */

/* indicates deprecation of methods in APIs and command line tools */

div.Admonition_Deprecated
{
	background-color: #E5E8E8;
	border-color: #E5E8E8;
}

div.Admonition_Note, div.Admonition_Caution, div.Admonition_Tip
{
        background-color: #E5E8E8;
		border-color: #E5E8E8;
}


 


/* tables */

table
{
	color: 	#222222;
}

td
{
	color: 	#222222;
}

th
{
	color: #333333;
	background-color: #E5E8E8;
	border: 1px solid #B9B8BB;   /*QCCR1K4340*/
	vertical-align: top;
}

table.no_lines, table.no_lines td
{      
            color: #222222;         
}

table.no_lines th
{      
            color: #333333;         
}

caption
{
	color: #222222;
}

/* backgrounds for examples */

div.example
{
	background-color: #E5E8E8;
	border-color: #E5E8E8;
}

/* MadCap Flare Styles */

MadCap|breadcrumbsProxy
{
	color: #007dba;
	border-bottom: 1px solid #E5E8E8;  /*QCCR1K4340*/
}

MadCap|breadcrumbsProxy:visited
{
	color: #822980;
}

span.MCBreadcrumbsDivider, span.MCBreadcrumbs
{		
	color: #222222;
}

MadCap|conceptLink
{
	color: #007dba;
	mc-image: url('./xHP_Experience_RelatedTopics.png');
}

MadCap|conceptLink:link
{
	color: #007dba;
}

MadCap|conceptLink:visited
{
	color: #822980;
}
	
MadCap|conceptLink.ListFormatHeader
{
	color: #333333;
	text-decoration: none;
}

MadCap|dropDown
{
	mc-closed-image: url('./xHP_Exp_expand.png');
	mc-open-image: url('./xHP_Exp_collapse.png');
	mc-image-position: left;
}

MadCap|dropDownHead
{
      vertical-align: text-top;
}

MadCap|dropDownHotspot
{
      color: #007dba;
}

MadCap|expanding
{
	mc-closed-image: url('./xHP_Exp_expand.png');
	mc-open-image: url('./xHP_Exp_collapse.png');
	mc-image-position: left;
}

MadCap|glossaryTerm
{
	border: none;
	color: #007dba;
	font-weight: normal;
	mc-image: url('./xHP_Experience_Glossary.png'); 
}

MadCap|glossaryTerm.Expanding
{
	color: #007dba;
}

MadCap|glossaryTerm.Hyperlink
{
	color: #007dba;
}

MadCap|glossaryTerm.Popup
{
	color: #007dba;
}

MadCap|helpControlMenu
{
	background-color: #ffffff;
	border: solid 1pt #E5E8E8;   /*QCCR1K4340, QCCR1K4349*/
 
 
}

MadCap|helpControlMenuItem   /*QCCR1K4340, QCCR1K4349*/
{
	background-color: #ffffff;
	background-position: right;
	color: #007dba;
	margin-bottom: 0em;
	list-style-type: none;
	margin-left: 0.50em;
}

MadCap|helpControlMenuItem.Highlighted
{
	background-color: #E5E8E8;  /*QCCR1K4340, QCCR1K4349*/
	color: #007dba;
}


MadCap|keywordLink
{
	color: #007dba;
	mc-image: url('./xHP_Experience_RelatedTopics.png'); 
}

MadCap|keywordLink:link
{
	color: #007dba;
}

MadCap|keywordLink:visited
{
	color: #822980;
}

MadCap|keywordLink.ListFormatHeader
{
	color: #333333;
	mc-help-control-display: list;
	mc-image: none;
	font-weight: bold;
	text-decoration: none;
}

MadCap|miniTocProxy
{
	border-top: solid 0px #ffffff;
}

MadCap|popup
{

	background-color: #ffffff;
	border: none;	
	color: #007dba;
}

MadCap|popup:link
{
	color: #007dba;
}

MadCap|popup:visited
{
	color: #822980;
}

MadCap|popupBody
{
	background-color: #ffffff;	
	margin: 2pt;
	border: solid 1pt #E5E8E8;   /*QCCR1K4340*/
	border-color: #E5E8E8;         /*QCCR1K4340*/
}

MadCap|popupHead
{
	background-color: #ffffff;
	background-image: url('./xHP_Experience_popup.png');
	color: #007dba;
}

MadCap|relatedTopics
{
 	color: #007dba;
 	margin: 0em;
	mc-image: url('./xHP_Experience_RelatedTopics.png');
}

MadCap|relatedTopics.ListFormatHeader
{
        color: #333333;
        text-decoration: none;
}

/* controls list bullet colors */
MadCap|relatedTopicsControlList
{
        color: #333333;
}

MadCap|toggler
{
	mc-image-position: left;
	mc-open-image: url('xHP_checked.png');     /* QCCR1K4320 */
	mc-closed-image: url('xHP_unchecked.png'); /* QCCR1K4320 */
}

MadCap|toggler:link
{
	color: #007dba;
}

MadCap|toggler:visited
{
	color: #822980;
}

MadCap|toggler:hover
{
	text-decoration: underline;
}

MadCap|xref
{
	color: #007dba;
}

MadCap|xref:link
{
	border: none;
	color: #007dba;
}

MadCap|xref:visited
{
	border: none;
	color: #822980;
}

MadCap|xref.noNum
{
	border: none;
	color: #007dba;
}

MadCap|xref.noNum:visited
{
	border: none;
	color: #822980;
}

span.MCExpandingHead
{
	color: #007dba;
}

span.MCPopup > a:link
{
	color: #007dba;
	background-image: url('./xHP_Experience_popup.png');
	padding-right: 14px;
}

span.MCPopupBody
{
	background-color: #ffffff;
}

span.MCTogglerHotSpot
{
	color: #007dba;
}

/* copyright 2013-2014 Hewlett-Packard Development Company, L.P. */